footer {
  /*
    display: flex;*/
  height: 300px;
  background: rgb(217, 206, 242);
  background: linear-gradient(
    180deg,
    rgba(197, 230, 245) 0%,
    rgba(159, 150, 217, 1) 100%
  );
  border-top: rgba(159, 150, 217, 1) 1px dotted;
}
.links a {
  text-decoration: none;
  color: white;
  margin-top: 70px;
}
.links {
  display: flex;

  justify-content: space-around;
}
.about {
  display: flex;
  flex-direction: column;
}
.social {
  display: flex;
  flex-direction: column;
}
